In [26]:
import pandas as pd

csv_path = "resultados/robbustness_experiment_results.csv"
df = pd.read_csv(csv_path)
df

,N,M,GC_LOWER_BOUND,GC_UPPER_BOUND,GC_LOWER_BOUND_REQUIRED_ITERATIONS,GC_UPPER_BOUND_REQUIRED_ITERATIONS,GC_SECONDS_TAKEN,LP_LOWER_BOUND,LP_UPPER_BOUND,LP_SECONDS_TAKEN,TRUE_VALUE
0,1,1,0.101520,0.123364,7.0,6.0,0.681144,NaN,NaN,NaN,0.113594
1,1,1,0.101520,0.123364,7.0,6.0,0.106426,NaN,NaN,NaN,0.113594
2,1,1,0.101520,0.123364,7.0,6.0,0.109898,NaN,NaN,NaN,0.113594
3,1,1,0.101520,0.123364,7.0,6.0,0.105708,NaN,NaN,NaN,0.113594
4,1,1,0.101520,0.123364,7.0,6.0,0.105948,NaN,NaN,NaN,0.113594
...,...,...,...,...,...,...,...,...,...,...,...
160,4,2,0.546623,0.621961,578.0,720.0,866.694342,NaN,NaN,NaN,0.553581
161,4,2,0.546623,0.621961,578.0,720.0,867.864375,NaN,NaN,NaN,0.553581
162,4,2,0.546623,0.621961,578.0,720.0,865.061437,NaN,NaN,NaN,0.553581
163,4,2,0.546623,0.621961,578.0,720.0,864.927963,NaN,NaN,NaN,0.553581
164,4,2,0.546623,0.621961,578.0,720.0,865.847525,NaN,NaN,NaN,0.553581

In [31]:
df.loc[144, :]

N                                          1.000000
M                                          4.000000
GC_LOWER_BOUND                        145007.000000
GC_UPPER_BOUND                       -145007.000000
GC_LOWER_BOUND_REQUIRED_ITERATIONS         5.000000
GC_UPPER_BOUND_REQUIRED_ITERATIONS         9.000000
GC_SECONDS_TAKEN                           0.460634
LP_LOWER_BOUND                                  NaN
LP_UPPER_BOUND                                  NaN
LP_SECONDS_TAKEN                                NaN
TRUE_VALUE                                 0.119059
Name: 144, dtype: float64

In [30]:
df.loc[145, :]

N                                          1.000000
M                                          4.000000
GC_LOWER_BOUND                        145007.000000
GC_UPPER_BOUND                       -145007.000000
GC_LOWER_BOUND_REQUIRED_ITERATIONS         5.000000
GC_UPPER_BOUND_REQUIRED_ITERATIONS         9.000000
GC_SECONDS_TAKEN                           0.459509
LP_LOWER_BOUND                                  NaN
LP_UPPER_BOUND                                  NaN
LP_SECONDS_TAKEN                                NaN
TRUE_VALUE                                 0.119059
Name: 145, dtype: float64