In [ ]:
import pandas as pd

df_algorithm = pd.read_csv("intermediario_algorithm_results.csv")
df_column = pd.read_csv("results.csv")
df_true = pd.read_csv("true_results.csv")

df_merged = pd.merge(df_algorithm, df_column, on=['N', 'M'], how='inner')
df_merged = pd.merge(df_merged, df_true, on=['N', 'M'], how='inner')
df_merged.to_csv("merged_bounds.csv", index=False)
# print(df_merged.head())
df_merged['difference'] = df_merged['ALGO_BOUNDS_SIZE'] - df_merged['BOUNDS_SIZE']
df_merged['difference']

df = pd.DataFrame()
df['UPPER'] = df_merged['UPPER_BOUND']
df['LOWER'] = df_merged['LOWER_BOUND']
df['TRUE'] = df_merged['TRUE_VALUE']
df['N'] = df_merged['N']
df['M'] = df_merged['M']

In [15]:
df

      UPPER     LOWER      TRUE  N  M
0  0.126589  0.108661  0.117192  1  1
1  0.741965  0.539263  0.543601  2  1
2  0.123781  0.103558  0.115301  3  1
3  0.765015  0.535113  0.537535  4  1
4  0.119765  0.097862  0.109848  5  1
5  0.128433  0.108871  0.118882  1  2
6  0.617712  0.551997  0.555954  2  2